.header {
  padding: 20px $padding-x;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    margin-bottom: 7px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
