.menu-item {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  border-bottom: 1px solid black;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid var(--primary-color);
  }
}
