.cart-item {
  display: flex;

  &__image {
    width: 50px;
    height: 50px;
    display: block;
  }

  &__info {
    padding-left: 20px;
  }

  &__delete-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
  }

  &__counter {
    display: flex;
    align-items: center;
  }

  &__counter-button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    cursor: pointer;
  }

  &__counter-number {
    font-size: 20px;
    padding: 5px;
  }
}
